h1 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h2 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h3 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h4 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h5 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h6 {
    margin-left: 450px;
    font-family: 'Pacifico', cursive;
}

h7 {
    margin-left: 650px;
    font-size: 60px;
    font-family: 'Dosis', cursive;
    color :	#808080;
}
 
h8 {
    margin-left: 630px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color :	#808080;
}




